*

!.gitignore

!/ElementChemistry/
!ElementChemistry/ElementCompound/
!ElementChemistry/ElementMaterial/
!ElementChemistry/ElementTable/

!GridManipulation/
!GridManipulation/CellDimensions/
!GridManipulation/CellGrid/

!StatsManipulation/
!StatsManipulation/StatsBearer/
!StatsManipulation/StatsBearingCreature/
!StatsManipulation/StatsBearingItem/

!TerminalHandler/
!manual/

!ElementChemistry/ElementCompound/*
!ElementChemistry/ElementMaterial/*
!ElementChemistry/ElementTable/*

!GridManipulation/CellDimensions/*
!GridManipulation/CellGrid/*

!StatsManipulation/StatsBearer/*
!StatsManipulation/StatsBearingCreature/*
!StatsManipulation/StatsBearingItem/*

!TerminalHandler/*
!manual/*

!main.c
!README.md