*

!.gitignore

!/ElementChemistry/
!/GridManipulation/
!/StatsManipulation/
!/TerminalHandler/
!/manual/

!ElementChemistry/*
!GridManipulation/*
!StatsManipulation/*
!TerminalHandler/*
!manual/*

!main.c
!README.md